<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>test</title>
        <link rel="stylesheet" type="text/css" href="../../static/test/css/test.css">
        <script type="text/javascript" src="../../static/test/js/test.js"></script>
    </head>

    <body>
        <div class="anniu">
            <button class="linx">Linux</button>
            <span>你好 Linux ！！</span>
        </div>
        <div class="anniu">
            <button class="java">Java</button>
            <span>你好 Java ！！</span>
        </div>
        <div class="anniu">
            <button class="cpp">C++</button>
            <span>你好 C++ ！！</span>
        </div>
    </body>
</html>