<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 注解的支持 -->
    <context:annotation-config/>
    <context:component-scan base-package="com.jomchen.springtest"/>

    <!-- 导入了工具配置 -->
    <import resource="spring-util.xml"/>
    <import resource="spring-test.xml"/>

    <!-- 导入信息文件 -->
    <!--<context:property-placeholder location="message.properties, message-test.properties"/>-->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>classpath:message.properties</value>
        </property>
        <property name="properties">
            <value>com.jomchen.name=LIGANG</value>
        </property>
    </bean>

    <!-- 学到 7.4.4 -->

</beans>