<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>websocket00</title>

        <script type="text/javascript" src="../../static/common/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="../../static/common/js/sockjs.min.js"></script>
        <script type="text/javascript" src="../../static/stomp.js"></script>
        <script type="text/javascript" src="../../static/websocket/js/websocket00.js"></script>
    </head>


    <body>
        <div class="text_content"></div>
        <button class="websocket_anniu">websocket 广播信息按钮</button>
        <button class="websocket_to_user">websocket 指定发送</button>
        <button class="ajax_anniu">ajax 按钮</button>
    </body>
</html>